@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap&family=Enriqueta:wght@500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  @media screen and (min-width: 600px) {
    padding: 1rem;
  }
  background-color: #ffffff;
  background-image: url("assets/diamonds.svg");
}

body,
p,
.info {
  color: #091d34;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
.info {
  letter-spacing: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Enriqueta", sans-serif;
  font-weight: 500;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0.2em;
}

a,
a:hover {
  color: #4189dd;
  text-decoration: none;

  &.a-inherit,
  h1 & {
    color: inherit;
    text-decoration: inherit;
  }
}

section {
  margin: 1rem 0;
}

.help {
  margin-top: 0;
}

.mute {
  opacity: 0.6;
}

input {
  appearance: none;
  border: thin solid gray;
  border-radius: 0.1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  vertical-align: baseline;
  text-align: left;
  padding: 0.5rem 0.25rem;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

img {
  max-width: 100%;
}

// Poor man's responsive tables.
@media screen and (max-width: 600px) {
  th {
    display: none;
  }
  tr {
    display: block;
    margin: 1rem 0;
  }
  td {
    display: block;
    padding: 0.2rem 0;
  }
}

th,
.line-label {
  font-size: small;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 0;
}

sup {
  line-height: 0;
}

.line-label + * {
  margin-top: 0;
}

.columns {
  @media screen and (min-width: 600px) {
    display: flex;
    & > * {
      flex: 1;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
